.left-menu {
	-fx-background-color: #2B579A;
}
.left-menu-button {
	-fx-background-color: #2B579A;
	-fx-text-fill: white;
	-fx-border: none;
	-fx-pref-width: 230px;
	-fx-alignment: top-left;
	-fx-background-radius: 0px;
}

.left-menu-button:hover {
	-fx-underline: true;
	-fx-cursor: hand;
	-fx-background-color: #3162AE;
}

.left-menu-button:selected {
	-fx-background-color: #3162AE;
}

.form-title {
	-fx-font-size: 28px;
	-fx-font-weight: bold;
}

.error {
	-fx-border-color: red;
}